

button {
    cursor: pointer;
    margin: auto;
}
.btnCart {
    width:90%;
    padding:10px;
    border-radius:10px;
    font-size:16px;
    background-color:black;
    color:white;
    margin-bottom:20px ;
    margin-top: 10px;
}

.discountEle {
    margin-left:10px;
    color:#b2b9bf;
    font-weight:lighter;   
}

.discountEle:nth-child(2) {
    color : rgb(44, 172, 44);
    font-weight: 600;
}

.underlineText {
    position: relative;
}
.underlineText::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #b2b9bf;
}